<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <html class="no-js" lang="en">
    <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/vendor/jquery.js"></script>
    <script type="text/x-handlebars-template"></script>
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/handlebars.runtime.js"></script>
</head>
<body>

     <div class="row">
    <div class="large-12 columns">

      <!-- Navigation -->

        <ul class="button-group">
          <li><a href="#" class="button">Nav Item 1</a></li>
          <li><a href="#" class="button">Nav Item 2</a></li>
          <li><a href="#" class="button">Nav Item 3</a></li>
        </ul>

      <!-- End Navigation -->


      <!-- Header Content -->

        <div class="row">

          <div class="large-6 columns">

            <img src="/img/北海道.jpg"><br>

          </div>


          <div class="large-6 columns">

            <h3 class="show-for-small">北海道<hr/></h3>

            <div class="panel">
              <h4 class="hide-for-small">北海道<hr/></h4>
            <h5 class="subheader">北海道（ほっかいどう）は、日本の北部に位置する島である。また、同島および付随する島を管轄する地方公共団体（道）である。
島としての北海道は、日本列島を構成する主要4島の一つである。地方公共団体としての北海道は、47都道府県中、唯一の「道」で、道庁所在地は札幌市である。</h5>
            </div>

          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>最新記事</h5>
                <h6 class="subheader">最新の記事はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>観光案内</h5>
                <h6 class="subheader">観光案内はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

          </div>

        </div>

      <!-- End Header Content -->


      <!-- Search Bar -->

        <div class="row">

          <div class="large-12 columns">
            <div class="radius panel">

            <form>
              <div class="row collapse">

                <div class="large-10 small-8 columns">
                  <input type="text" />
                </div>

                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>

              </div>
            </form>

          </div>
          </div>

        </div>

      <!-- End Search Bar -->


      <!-- Thumbnails -->

        <div class="row">

          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>

          <div class="large-3 small-6 columns">
            <img src="/img/道北.jpg">
            <div class="panel">
              <p>道北</p>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/道東.jpg">
            <div class="panel">
              <p>道東</p>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/道央.jpg">
            <div class="panel">
              <p>道央</p>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/道南.jpg">
            <div class="panel">
              <p>道南</p>
            </div>
          </div>

        </div>

      <!-- End Thumbnails -->


      <!-- Footer -->

        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">

              <div class="large-6 columns">
                  <p>© Copyright 2014 nsy inc. All Rights Reserved.</p>
              </div>

              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>
      <!-- End Footer -->
    </div>
  </div>


  <!-- foundation5プラグイン -->
  <script src="/js/foundation.min.js"></script>
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>