<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <html class="no-js" lang="en">
    <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/vendor/jquery.js"></script>
    <script type="text/x-handlebars-template"></script>
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/handlebars.runtime.js"></script>
    <script type="text/javascript" src="/js/vendor/pagetop.fade.js"></script>

</head>
<body>

     <div class="row">
    <div class="large-12 columns">

      <!-- Navigation -->

        <ul class="button-group">
          <li><a href="#" class="button">Nav Item 1</a></li>
          <li><a href="#" class="button">Nav Item 2</a></li>
          <li><a href="#" class="button">Nav Item 3</a></li>
        </ul>

      <!-- End Navigation -->


      <!-- Header Content -->

        <div class="row">

          <div class="large-6 columns">

            <img src="/img/中部.jpg"><br>

          </div>


          <div class="large-6 columns">

            <h3 class="show-for-small">中部地方<hr/></h3>

            <div class="panel">
              <h4 class="hide-for-small">中部地方<hr/></h4>
            <h5 class="subheader">中部地方（ちゅうぶちほう）は、日本の地方区分（全国八地方区分）の一つで、本州中部の総称である。
            日本列島の中央に位置し、東を東北地方と関東地方、西を近畿地方、南を太平洋、北を日本海に囲まれた地方である。大きく分けて、日本海に面する北陸地方、内陸部の中央高地（東山地方）、太平洋に面する東海地方に分けられ、それぞれ大きく分けられた地方を組み合わせて中部地方と総称される</h5>
            </div>

          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>最新記事</h5>
                <h6 class="subheader">最新の記事はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>観光案内</h5>
                <h6 class="subheader">観光案内はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

          </div>

        </div>

      <!-- End Header Content -->


      <!-- Search Bar -->

        <div class="row">

          <div class="large-12 columns">
            <div class="radius panel">

            <form>
              <div class="row collapse">

                <div class="large-10 small-8 columns">
                  <input type="text" />
                </div>

                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>

              </div>
            </form>

          </div>
          </div>

        </div>

      <!-- End Search Bar -->


      <!-- Thumbnails -->

        <div class="row">

          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>

          <div class="large-3 small-6 columns">
            <img src="/img/niigata.jpg">
            <div class="panel">
              <h5>新潟県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/toyama.jpg">
            <div class="panel">
              <h5>富山県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/ishikawa.jpg">
            <div class="panel">
              <h5>石川県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/fukui.jpg">
            <div class="panel">
              <h5>福井県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/yamanashi.jpg">
            <div class="panel">
              <h5>山梨県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/nagano.jpg">
            <div class="panel">
              <h5>長野県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/gifu.jpg">
            <div class="panel">
              <h5>岐阜県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/shizuoka.jpg">
            <div class="panel">
              <h5>静岡県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/aichi.jpg">
            <div class="panel">
              <h5>愛知県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>
        </div>

      <!-- End Thumbnails -->


      <!-- Footer -->

        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">

              <div class="large-6 columns">
                  <p>© Copyright 2014 nsy inc. All Rights Reserved.</p>
              </div>

              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      <!-- End Footer -->


    </div>
  </div>


  <!-- foundation5プラグイン -->
  <script src="/js/foundation.min.js"></script>
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>