<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <html class="no-js" lang="en">
    <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/vendor/jquery.js"></script>
    <script type="text/x-handlebars-template"></script>
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/handlebars.runtime.js"></script>
</head>
<body>

     <div class="row">
    <div class="large-12 columns">

      <!-- Navigation -->

        <ul class="button-group">
          <li><a href="#" class="button">Nav Item 1</a></li>
          <li><a href="#" class="button">Nav Item 2</a></li>
          <li><a href="#" class="button">Nav Item 3</a></li>
        </ul>

      <!-- End Navigation -->


      <!-- Header Content -->

        <div class="row">

          <div class="large-6 columns">

            <img src="/img/関西.jpg"><br>

          </div>


          <div class="large-6 columns">

            <h3 class="show-for-small">関西地方<hr/></h3>

            <div class="panel">
              <h4 class="hide-for-small">関西地方<hr/></h4>
            <h5 class="subheader">近畿地方（きんきちほう）は、本州中西部に位置する日本の地域である。
近畿地方の範囲について法律上の明確な定義はないが、一般的には大阪府・京都府・兵庫県・奈良県・三重県・滋賀県・和歌山県の2府5県を指す。国土交通省の14地域区分では、三重県は含まれず、近畿を内陸（滋賀県、京都府、奈良県）と臨海（大阪府、兵庫県、和歌山県）の2つの地域に区分する。</h5>
            </div>

          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>最新記事</h5>
                <h6 class="subheader">最新の記事はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>観光案内</h5>
                <h6 class="subheader">観光案内はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

          </div>

        </div>

      <!-- End Header Content -->


      <!-- Search Bar -->

        <div class="row">

          <div class="large-12 columns">
            <div class="radius panel">

            <form>
              <div class="row collapse">

                <div class="large-10 small-8 columns">
                  <input type="text" />
                </div>

                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>

              </div>
            </form>

          </div>
          </div>

        </div>

      <!-- End Search Bar -->


      <!-- Thumbnails -->

        <div class="row">

          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>

          <div class="large-3 small-6 columns">
            <img src="/img/osaka.jpg">
            <div class="panel">
              <h5>大阪府</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/kyoto.jpg">
            <div class="panel">
              <h5>京都府</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/hyogo.jpg">
            <div class="panel">
              <h5>兵庫県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/nara.jpg">
            <div class="panel">
              <h5>奈良県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/mie.jpg">
            <div class="panel">
              <h5>三重県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/shiga.jpg">
            <div class="panel">
              <h5>滋賀県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/wakayama.jpg">
            <div class="panel">
              <h5>和歌山県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>
        </div>

      <!-- End Thumbnails -->


      <!-- Footer -->

        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">

              <div class="large-6 columns">
                  <p>© Copyright 2014 nsy inc. All Rights Reserved.</p>
              </div>

              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      <!-- End Footer -->


    </div>
  </div>


  <!-- foundation5プラグイン -->
  <script src="/js/foundation.min.js"></script>
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>