<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <html class="no-js" lang="en">
    <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/vendor/jquery.js"></script>
    <script type="text/x-handlebars-template"></script>
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/handlebars.runtime.js"></script>
</head>
<body>

     <div class="row">
    <div class="large-12 columns">

      <!-- Navigation -->

        <ul class="button-group">
          <li><a href="#" class="button">Nav Item 1</a></li>
          <li><a href="#" class="button">Nav Item 2</a></li>
          <li><a href="#" class="button">Nav Item 3</a></li>
        </ul>

      <!-- End Navigation -->


      <!-- Header Content -->

        <div class="row">

          <div class="large-6 columns">

            <img src="/img/関東.jpg"><br>

          </div>


          <div class="large-6 columns">

            <h3 class="show-for-small">関東地方<hr/></h3>

            <div class="panel">
              <h4 class="hide-for-small">関東地方<hr/></h4>
            <h5 class="subheader">関東地方（かんとうちほう）は、日本の地域区分のひとつであり、本州の東部に位置している。その範囲について法律上の明確な定義はないが、一般的には茨城県、栃木県、群馬県、埼玉県、千葉県、東京都、神奈川県の1都6県を指して関東地方と呼ぶ。
首都・東京を擁する関東地方は日本の政治・経済の中心となっており、日本の総人口の3分の1が集中している。 ※現代の関東地方が「関東」と呼称されるに至った経緯については、関東を参照。
首都圏整備法が定義する「首都圏」には、関東地方に山梨県を加えた1都7県が含まれる。また、「関東地方知事会」には、1都7県に静岡県、長野県の両県知事が加わっている。</h5>
            </div>

          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>最新記事</h5>
                <h6 class="subheader">最新の記事はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>観光案内</h5>
                <h6 class="subheader">観光案内はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

          </div>

        </div>

      <!-- End Header Content -->


      <!-- Search Bar -->

        <div class="row">

          <div class="large-12 columns">
            <div class="radius panel">

            <form>
              <div class="row collapse">

                <div class="large-10 small-8 columns">
                  <input type="text" />
                </div>

                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>

              </div>
            </form>

          </div>
          </div>

        </div>

      <!-- End Search Bar -->


      <!-- Thumbnails -->

        <div class="row">

          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>

          <div class="large-3 small-6 columns">
            <img src="/img/ibaraki.jpg">
            <div class="panel">
              <h5>茨城県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/gunma.jpg">
            <div class="panel">
              <h5>群馬県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/tochigi.jpg">
            <div class="panel">
              <h5>栃木県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/chiba.jpg">
            <div class="panel">
              <h5>千葉県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/saitama.jpg">
            <div class="panel">
              <h5>埼玉県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/tokyo.jpg">
            <div class="panel">
              <h5>東京都</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/kanagawa.jpg">
            <div class="panel">
              <h5>神奈川県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>
        </div>

      <!-- End Thumbnails -->


      <!-- Footer -->

        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">

              <div class="large-6 columns">
                  <p>© Copyright 2014 nsy inc. All Rights Reserved.</p>
              </div>

              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      <!-- End Footer -->


    </div>
  </div>


  <!-- foundation5プラグイン -->
  <script src="/js/foundation.min.js"></script>
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>