<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <html class="no-js" lang="en">
    <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/vendor/jquery.js"></script>
    <script type="text/x-handlebars-template"></script>
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/handlebars.runtime.js"></script>
</head>
<body>

     <div class="row">
    <div class="large-12 columns">

      <!-- Navigation -->

        <ul class="button-group">
          <li><a href="#" class="button">Nav Item 1</a></li>
          <li><a href="#" class="button">Nav Item 2</a></li>
          <li><a href="#" class="button">Nav Item 3</a></li>
        </ul>

      <!-- End Navigation -->


      <!-- Header Content -->

        <div class="row">

          <div class="large-6 columns">

            <img src="/img/九州.jpg"><br>

          </div>


          <div class="large-6 columns">

            <h3 class="show-for-small">九州地方<hr/></h3>

            <div class="panel">
              <h4 class="hide-for-small">九州地方<hr/></h4>
            <h5 class="subheader">九州（きゅうしゅう）は、日本列島を構成する島の一つで、その南西部に位置する。
北海道・本州・四国とともに主要4島の一つでもあり、この中では3番目に大きい島で、世界の島の中では、スピッツベルゲン島（ノルウェー）に次ぐ第37位の大きさである。
地質学や考古学などでは九州島という名称も使用される。
九州とその付随する島を合わせて九州地方（きゅうしゅうちほう）と言う。九州の最高標高は1,791mで、大分県の九重連山・中岳の標高である。また、九州地方の最高標高は1,936mで、鹿児島県の屋久島・宮之浦岳の標高である。
九州には7つの地方公共団体（県）があり、7県総人口は13,146,494人、沖縄県を含めた8県総人口は14,559,976人である。
九州の古代の呼称は、「筑紫島」・「筑紫洲」（つくしのしま）である。</h5>
            </div>

          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>最新記事</h5>
                <h6 class="subheader">最新の記事はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>観光案内</h5>
                <h6 class="subheader">観光案内はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

          </div>

        </div>

      <!-- End Header Content -->


      <!-- Search Bar -->

        <div class="row">

          <div class="large-12 columns">
            <div class="radius panel">

            <form>
              <div class="row collapse">

                <div class="large-10 small-8 columns">
                  <input type="text" />
                </div>

                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>

              </div>
            </form>

          </div>
          </div>

        </div>

      <!-- End Search Bar -->


      <!-- Thumbnails -->

        <div class="row">

          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>

          <div class="large-3 small-6 columns">
            <img src="/img/fukuoka.jpg">
            <div class="panel">
              <h5>福岡県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/saga.jpg">
            <div class="panel">
              <h5>佐賀県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/nagasaki.jpg">
            <div class="panel">
              <h5>長崎県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/oita.jpg">
            <div class="panel">
              <h5>大分県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/miyazaki.jpg">
            <div class="panel">
              <h5>宮崎県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/kumamoto.jpg">
            <div class="panel">
              <h5>熊本県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/kagoshima.jpg">
            <div class="panel">
              <h5>鹿児島県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/okinawa.jpg">
            <div class="panel">
              <h5>沖縄県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>
        </div>

      <!-- End Thumbnails -->


      <!-- Footer -->

        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">

              <div class="large-6 columns">
                  <p>© Copyright 2014 nsy inc. All Rights Reserved.</p>
              </div>

              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      <!-- End Footer -->


    </div>
  </div>


  <!-- foundation5プラグイン -->
  <script src="/js/foundation.min.js"></script>
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>