<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <html class="no-js" lang="en">
    <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/vendor/jquery.js"></script>
    <script type="text/x-handlebars-template"></script>
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/handlebars.runtime.js"></script>
</head>
<body>

     <div class="row">
    <div class="large-12 columns">

      <!-- Navigation -->

        <ul class="button-group">
          <li><a href="#" class="button">Nav Item 1</a></li>
          <li><a href="#" class="button">Nav Item 2</a></li>
          <li><a href="#" class="button">Nav Item 3</a></li>
        </ul>

      <!-- End Navigation -->


      <!-- Header Content -->

        <div class="row">

          <div class="large-6 columns">

            <img src="/img/四国.jpg"><br>

          </div>


          <div class="large-6 columns">

            <h3 class="show-for-small">四国地方<hr/></h3>

            <div class="panel">
              <h4 class="hide-for-small">四国地方<hr/></h4>
            <h5 class="subheader">四国（しこく）は、日本列島を構成する島の一つである。
北海道・本州・九州とともに主要4島の一つでもあり、この中では最も小さい島で、最高標高1,982m、面積18,300.95km²で、世界の島の中では、バナナル島（ブラジル）に次ぐ第50位の大きさである。
四国とその付随する島（小豆島、大三島、大島、中島、伯方島、豊島など）を合わせて「四国地方」と言う。これら付随する島を含めないことを強調したい場合、「四国本土」あるいは「四国島」と呼ぶこともある。（日本の地理・四国、日本の地域・四国地方も参照）
四国には、徳島県、香川県、愛媛県、高知県の4つの地方公共団体（県）があり、4県総人口は3,912,670人である。なお、国土交通省による日本の14地域区分の1つである四国も、同じくこれら4県を示す。（表右下 四国地方も参照）
四国の古代の呼称は、「伊予之二名島」・「伊予二名洲」（いよのふたなのしま）である。</h5>
            </div>

          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>最新記事</h5>
                <h6 class="subheader">最新の記事はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>観光案内</h5>
                <h6 class="subheader">観光案内はこちらから</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

          </div>

        </div>

      <!-- End Header Content -->


      <!-- Search Bar -->

        <div class="row">

          <div class="large-12 columns">
            <div class="radius panel">

            <form>
              <div class="row collapse">

                <div class="large-10 small-8 columns">
                  <input type="text" />
                </div>

                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>

              </div>
            </form>

          </div>
          </div>

        </div>

      <!-- End Search Bar -->


      <!-- Thumbnails -->

        <div class="row">

          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>

          <div class="large-3 small-6 columns">
            <img src="/img/ehime.jpg">
            <div class="panel">
              <h5>愛媛県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/tokushima.jpg">
            <div class="panel">
              <h5>徳島県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/kagawa.jpg">
            <div class="panel">
              <h5>香川県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="/img/kochi.jpg">
            <div class="panel">
              <h5>高知県</h5>
              <h6 class="subheader">記事0件</h6>
            </div>
          </div>

        </div>

      <!-- End Thumbnails -->


      <!-- Footer -->

        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">

              <div class="large-6 columns">
                  <p>© Copyright 2014 nsy inc. All Rights Reserved.</p>
              </div>

              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

      <!-- End Footer -->


    </div>
  </div>


  <!-- foundation5プラグイン -->
  <script src="/js/foundation.min.js"></script>
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>