<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <html class="no-js" lang="en">
    <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/vendor/jquery.js"></script>
    <script type="text/x-handlebars-template"></script>
    <script type="text/javascript" src="js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/handlebars.runtime.js"></script>
</head>
<body>

    <!-- Navigation -->

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Top Bar Title
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 1</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 3</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <!-- End Top Bar -->

  <!-- Header -->
  <div class="row">
    <div class="large-12 columns">
      <img src="/img/Bike1600x600.jpg"><br><br>
    </div>
  </div>

  <!-- End Header -->


  <div class="row">

    <div class="large-3 panel columns">
      <a href="/articles/companyInfo"><img src="/img/CLICK.png"></a>

      <h4>どんなサイト？</h4>

      <p>このサイトは、あなたの町の情報やあなたの知っている素敵な観光スポットをみんなに知ってもらう為に、自己発信型タウン情報マガジンです。まだ世の中に発信されていない町の情報をあなたも発信してみませんか？</p><hr>

      <div class="row">
        <div class="large-4 columns">
        <a href="/articles/companyInfo" class="small button">Company Info</a>
        </div>
      </div>
    </div>

    <div class="large-9 columns">
      <div class="panel">
        <div class="row">

          <div class="large-3 columns">
            <img src="/img/600x500_1.jpeg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_2.jpeg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_3.jpeg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_4.jpeg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_5.jpeg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_6.jpeg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_7.jpg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_8.jpeg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_9.jpg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_10.jpeg">
          </div>

          <div class="large-3 columns">
            <img src="/img/600x500_11.jpeg">
          </div>

          <div class="large-3 columns end">
            <img src="/img/600x500_12.jpeg">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <div class="panel">
            <h5>記事登録</h5>
            <p>あなたの知っている素敵な町、観光スポットなどの情報、旅先での素敵な思い出などを記事にして登録してみませんか？</p>
            <a href="/articles/make" class="small button">Post Article</a>
          </div>
        </div>

        <div class="large-6 columns">
          <div class="panel">
            <h5>記事一覧</h5>
            <p>今までに登録された記事はこちらから見る事ができます。あなたの知らない町や観光スポットを探してみませんか？</p>
            <a href="/articles/list/japan" class="small button">Read Article</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->

  <footer class="row">
  <div class="large-12 columns"><hr />
      <div class="row">

        <div class="large-6 columns">
            <p>© Copyright 2014 nsy inc. All Rights Reserved.</p>
        </div>

        <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
        </div>

      </div>
  </div>
  </footer>

    <!-- body content here -->

  <!-- foundation5プラグイン -->
  <script src="js/foundation.min.js"></script>
  <script src="js/vendor/modernizr.js"></script>
  <script src="js/vendor/fastclick.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>